%%-*- mode: erlang -*-

[
 %% Настрока нашего веб приложения
 {bank, [
           {cookiename, "bank_cookie"},
           {session_expire, 2592000},
           {host, "localhost"},
           
           {app_profile, "v5"},
           {cowboy, [
                     {nbacceptors, 100},
                     {ip, {0, 0, 0, 0}},
                     {http_port, 8001}
                    ]},
 {sasl, [
         {errlog_type, error} % error | progress | all
        ]}
        ]
 }
].
