%%-*- mode: erlang -*-

[

    {bank,
        [
            {name, bank_2},
            {bank_no, 2},
            {transfer_params,
                [
                    {inter_bank,
                        [
                            {type, inter_bank},
                            {limit, 1000},
                            {commission, 5}
                        ]},
                    {intra_bank,
                        [
                            {type, intra_bank},
                            {limit, -1},
                            {commission, 0}
                        ]}

                ]},
            {cookiename, "bank_cookie"},
            {session_expire, 2592000},
            {host, "localhost"},
            {app_profile, "v5"},
            {cowboy,
                [
                    {nbacceptors, 100},
                    {ip, {0, 0, 0, 0}},
                    {http_port, 8002}
                ]},
            {known_bank,
                [
                    {bank_1,
                        [
                            {bank_id, 1},
                            {name, "bank_1"},
                            {host, "localhost"},
                            {port, 8001}
                        ]},
                    {bank_2,
                        [
                            {bank_id, 2},
                            {name, "bank_2"},
                            {host, "localhost"},
                            {port, 8002}
                        ]}
                ]
            }
        ]
    },




    {sasl,
        [
            {errlog_type, error} % error | progress | all
        ]
    },


    {mnesia,[
        {dir, bankdata2}
    ]
        }
].
